.gutter() {
  @p: unit(@gutter/@base,rem);
  padding-left: @p;
  padding-right: @p;
  .break-min({
    @p: unit(@gutter-min/@base,rem);
    padding-left: @p;
    padding-right: @p;
  });
  .break-mid({
    @p: unit(@gutter-mid/@base,rem);
    padding-left: @p;
    padding-right: @p;
  });
  .break-max({
    @p: unit(@gutter-max/@base,rem);
    padding-left: @p;
    padding-right: @p;
  });
}



.v-space(@top: 1; @bottom: 1;) {
  padding-top: unit(@v-space * @top/@base,rem);
  padding-bottom: unit(@v-space * @bottom/@base,rem);
}

.grid() {
  display: grid;
  grid-column-gap: unit(@grid-gap,px);
  grid-template-columns: repeat(2,1fr);
  .break-min({ grid-template-columns: repeat(12,1fr); });
  margin: 0 auto;
  max-width: unit( (@break-max - (@gutter-max * 2)) / @base,rem);
}

.grid-column(@start: 1; @end: 13; @base-start: 1; @base-end: 3;) {
  grid-column-start: @base-start;
  grid-column-end: @base-end;
  .break-min({
    grid-column-start: @start;
    grid-column-end: @end;
  });
}
