.gutter() {
  @p: unit(@gutter/@base,rem);
  padding-left: @p;
  padding-right: @p;
  .break-min({
    @p: unit(@gutter-min/@base,rem);
    padding-left: @p;
    padding-right: @p;
    margin: 0 auto;
    max-width: unit( (@break-max - (@gutter-max * 2)) / @base,rem);
  });
  .break-mid({
    @p: unit(@gutter-mid/@base,rem);
    padding-left: @p;
    padding-right: @p;
  });
  .break-max({
    @p: unit(@gutter-max/@base,rem);
    padding-left: @p;
    padding-right: @p;
  });
}



.v-space(@top: 1; @bottom: 1;) {
  padding-top: unit(@v-space * @top/@base,rem);
  padding-bottom: unit(@v-space * @bottom/@base,rem);
}

.grid() {
  display: grid;
  grid-gap: unit(@v-space/@base,rem) unit(@h-space/@base,rem);
}
.grid--article() {
  
}
.grid--listing() {
  @cols: 3;
  @m: unit( ((@break-max - (2 * @gutter-max) - ((@cols - 1) * @h-space)) / @cols)/@base,rem);
  grid-template-columns: repeat(auto-fit,minmax(@m,1fr));
}

.grid-column(@start: 1; @end: 13; @base-start: 1; @base-end: 3;) {
  grid-column-start: @base-start;
  grid-column-end: @base-end;
  .break-min({
    grid-column-start: @start;
    grid-column-end: @end;
  });
}
