//global type settings
#type {
  #size() {
    .x-sm() {
      font-size: unit(14/@base,rem);
      line-height: 20/14;
    }
    .sm() {
      font-size: unit(16/@base,rem);
      line-height: 20/16;
    }
    .p() {
      font-size: unit(17/@base,rem);
      line-height: 24/17;
      .break-mid({
        font-size: unit(19/@base,rem);
        line-height: 28/19;
      });
    }
    .lg() {
      font-size: unit(19/@base,rem);
      line-height: 24/19;
      .break-mid({
        font-size: unit(21/@base,rem);
        line-height: 32/21;
      });
    }
    .x-lg() {
      font-size: unit(21/@base,rem);
      line-height: 28/21;
      .break-mid({
        font-size: unit(23/@base,rem);
        line-height: 32/23;
      });
    }
    .h2() {
      font-size: unit(36/@base,rem);
      line-height: 40/36;
      .break-mid({
        font-size: unit(44/@base,rem);
        line-height: 48/44;
      });
    }
  }
}


body, input, textarea, button {
  font-family: 'Fira Sans', sans-serif;
  color: black;
  font-feature-settings: "liga" 1;
  font-variant: normal;
  font-kerning: normal;
  #type > #size > .p;
}
@supports (font-variant-ligatures: common-ligatures) {
  body {
    font-feature-settings: normal;
    font-variant-ligatures: common-ligatures;
  }
}




h1 {
  font-weight: 900;
  font-size: unit(52/@base,rem);
  line-height: 1;
  width: 100%;
  display: block;
  .break-min({
    font-size: 6vw;
  });
}



i, em {
  font-style: italic;
}
b, strong {
  font-weight: bold;
}

sup, sub {
  position: relative;
}

sup {
  top: -0.3em;
}
sub {
  bottom: -0.3em;
}

@supports (font-variant-position: sub) {
  sub,sup {
    position: inherit;
    top: auto;
    bottom: auto;
  }
  sub {
    font-variant-position: sub;
  }
  sup {
    font-variant-position: super;
  }
}


.prose {

  p, li {
    #type > #size > .p;
  }

  &--hero {
    p, li {
      #type > #size > .x-lg;
    }
  }

  h2 {
    font-weight: 900;
    #type > #size > .h2;
    margin-top: 1em;
    transform: ~"translateX( calc( -1 * (var(--gutter) / 4) ) )";
  }

  figure ~ h2 {
    clear: right;
  }

  h3, h4, h5, h6 {
    font-weight: 900;
    #type > #size > .x-lg;
    margin-top: 1em;
    + p { margin-top: .3em; }
  }

  p, pre  {
    margin-top: 1em;
  }


  >*:first-child {
    margin-top: 0;
  }

  figure + p {
    margin-top: 2em;
  }

  figure {
    margin-top: 1em;
  }

  figure.figure--frame-phone {
    margin-top: 2em;
  }

  >ul,>ol {
    margin-top: 1em;
  }

  li {
    margin-left: 1em;
    padding-left: .2em;
  }
  ol li {
    list-style-position: outside;
  }
  ul li {
    list-style-position: outside;
    list-style-image: url('../img/bullet.svg');
  }
  li {
    margin-top: 0.2em;
  }
  >ul>li,>ol>li {
    &:first-child {
      margin-top: 0;
    }
  }

  ul li li {list-style-type: circle;}
  ul li li li {list-style: square;}

  ol li li {list-style-type: lower-alpha;}
  ol li li li {list-style-type: lower-roman;}

  //rules
  hr {

    border: none;
    overflow: visible;
    margin-top: 4em;
    
    &:before {
      content: "";
      display: block;
      width: unit( 2 / 12 * 100, %);
      height: ~"calc(var(--gutter) / 4)";
      background-color: var(--c-primary);
      //margin-left: ~"calc( -1 * (var(--gutter) / 4) )";
    }

  }

  &--hero hr {
    margin-top: 2em;
  }

  //tables
  table {
    border-collapse: collapse;
    #type > #size > .p;
    font-variant-numeric: lining-nums tabular-nums;
  }

  thead tr {
    border-bottom: 1px solid;
  }

  td, th {
    padding: 0.5em;
    line-height: 1;
    vertical-align: top;
  }

  th {
    font-weight: bold;
  }

  td {
    text-align: "." center;
  }

  //links
  a {
    color: inherit;
  }

  abbr {
    font-variant: small-caps;
    text-transform: uppercase;
  }

  //code
  code {
    font-family: 'Fira Mono', monospace;
    font-size: 87%;
  }


  p>code,
  li>code {
    padding: 0 unit(3/@base,rem);
    margin: 0 unit(-3/@base,rem);
    background-color: fade(black,5%);
    border-radius: unit(6/@base,rem);
    border: 1px solid fade(black,7%);
  }

  blockquote {
    @color: var(--c-primary);
    margin-top: var(--gutter);
    font-weight: 900;

    > p {
      color: var(--c-primary);
      #type > #size > .x-lg;
    }

  }
  blockquote + p {
    #type > #size > .sm;
    color: @c_grey;
    margin-bottom: var(--gutter);
  }

  //code blocks
  pre {
    background-color: fade(black,5%);
    overflow: auto;
    >code {
      margin: unit(16/@base,rem);
      display: block;
    }
  }

  //mark
  mark, h2:target, h3:target, h4:target,h5:target,h6:target {
    background-image: linear-gradient(-100deg,hsla(58,92%,75%,.3),hsla(58,92%,75%,.7) 95%,hsla(58,92%,75%,.1));
  }
  mark {
    padding: 0 .35em;
    margin: 0 -.35em;
    border-radius: 1em 0;
  }

}
