<section class="hero" style="background-color: {{ header_colour }}; color: {{ header_text_colour }};">
  <svg xmlns="http://www.w3.org/2000/svg" class="hero__background" width="100%" height="50" viewBox="0 0 100 50" preserveAspectRatio="none">
    <path d="M0 0L100 50L0 50z" fill-rule="evenodd" fill="#FFF"/>
  </svg>
  <div class="hero__content">
    <article class="hero__welcome prose">
      <svg viewBox="0 0 16 16" width="16" height="16" aria-hidden="true" class="hero__blip">
        <path d="M9.333 11.92l5.253-5.253-5.253-5.253-5.252 5.253 5.252 5.252zM2.667 6.666L9.333 0 16 6.667l-6.667 6.666-6.666-6.666zm-1.253 6l1.92 1.919 1.918-1.92-1.919-1.918-1.919 1.919zm-1.414 0l3.333-3.334 3.334 3.334L3.333 16 0 12.667z" fill="{{ header_text_colour }}" fill-rule="nonzero"/>
      </svg>
      {{ content }}
    </article>
    <aside class="hero__image">
      {{ assets:hero_image }}
      <img src="{{ url }}" />
      {{ /assets:hero_image }}
    </aside>
  </div>
</section>

<section class="meta">
  <div class="meta__container">
    {{ meta }}
    <dl class="meta-list">
        <dt class="meta-list__title">{{ title }}</dt>
        <dd class="meta-list__value">{{ value | markdown }}</dd>
    </dl>
    {{ /meta }}
  </div>
</section>

{{ modules }}
  {{ if type == 'side_by_side' }}
    <section class="side-by-side side-by-side--{{ text_colour }}"{{ if background_colour }} style="background-color: {{ background_colour }};"{{ /if }} >
      <div class="side-by-side__content">
        {{ if title_display == 'span' }}<h2 class="side-by-side__title side-by-side__title--span">{{ title }}</h2>{{ /if }}
        <article class="prose side-by-side__article">
          {{ article }}
          {{ if title_display != 'span' }}<h2 class="side-by-side__title side-by-side__title--span">{{ title }}</h2>{{ /if }}
            {{ text | markdown | smartypants }}
            {{ if type == 'figure' }}
              <figure>
                <img src="{{ image }}"/>
                {{ if figcaption }}<figcaption>{{ figcaption }}</figcaption>{{ /if }}
              </figure>
            {{ /if }}
          {{ /article }}
        </article>
        <aside class="side-by-side__aside">
          {{ aside }}
            {{ if text }}
              <article class="side-by-side__aside-article prose side-by-side__aside-article--{{style}}">
                {{ text | markdown | smartypants }}
              </article>
            {{ /if }}
            {{ if type == 'figure' }}
              <figure class="side-by-side__figure side-by-side__figure--{{ style }}">
                {{ assets:image }}
                  <img src="{{ if extension | contains:png or extension | contains:jpg }}{{ glide:url width="1800" }}{{ else }}{{ url }}{{ /if }}"/>
                {{ /assets:image }}
                {{ if figcaption }}<figcaption>{{ figcaption | markdown }}</figcaption>{{ /if }}
              </figure>
            {{ /if }}
          {{ /aside }}
        </aside>
      </div>
    </section>
  {{ /if }}
  {{ if type == 'blog' }}
    <section class="blog blog--{{ text_colour }}"{{ if background_colour }} style="background-color: {{ background_colour }};"{{ /if }} >
      <article class="blog__content">
        {{ if title}}<h2 class="blog__title">{{ title }}</h2>{{ /if }}
        {{ article }}
          {{ if type == 'copy' }}
          <div class="prose blog__text">
            {{ text | markdown }}
          </div>
          {{ /if }}
          {{ if type == 'figure' }}
            <figure class="blog__figure blog__figure--{{ style }}">
              {{ assets:image }}
                <img src="{{ if extension | contains:png or extension | contains:jpg }}{{ glide:url width="1800" }}{{ else }}{{ url }}{{ /if }}"/>
              {{ /assets:image }}
              {{ if figcaption }}<figcaption>{{ figcaption | markdown }}</figcaption>{{ /if }}
            </figure>
          {{ /if }}
        {{ /article }}
      </article>
    </section>
  {{ /if }}
  {{ if type == 'quote' }}
    <section class="quote quote--{{ text_colour }}"{{ if background_colour }} style="background-color: {{ background_colour }};"{{ /if }} >
      <blockquote>
        <p>{{ text | smartypants }}</p>
        <cite>{{ cite }}</cite>
      </blockquote>
    </section>
  {{ /if }}
{{ /modules }}

<nav class="prev-next">

  <svg width="32" height="38" xmlns="http://www.w3.org/2000/svg" class="prev-next__badge">
    <g fill="none" fill-rule="evenodd">
      <path d="M15.735 8.851L27.993 21.2 15.735 33.549 3.477 21.2 15.735 8.851z" stroke="#FFF" stroke-width="5" fill="#FFF"/>
      <path d="M15.735 8.842l4.36-4.39 7.9 7.953-12.26 12.343L3.476 12.405l7.9-7.953 4.36 4.39z" stroke="#FFF" stroke-width="5" fill="#FFF"/>
      <path stroke="#3F3F3F" d="M15.735 12.4l8.736 8.8-8.736 8.8L7 21.2z"/>
      <path stroke="#3F3F3F" d="M20.095 8l4.376 4.405-8.736 8.795L7 12.405 11.375 8l4.36 4.39z"/>
    </g>
  </svg>

  <ul class="prev-next__items">

    {{ collection:previous in="work" as="items" limit="1" sort="date:asc" }}
      {{ items }}
        <li class="prev-next__item prev-next__item--prev">
          <h3 class="prev-next__heading"><svg viewBox="0 0 10 14" width="10" height="14" aria-hidden="true" class="prev-next__arrow"><use xlink:href="/site/themes/roodesign/img/icons.svg#icon-prev"/></svg>Previous project</h3>
          <a href="{{ url }}" rel="prev" class="prev-next__link">{{ title }}</a>
        </li>
      {{ /items }}
    {{ /collection:previous }}

    {{ collection:next in="work" as="items" limit="1" sort="date:asc" }}
    {{ items }}
      <li class="prev-next__item prev-next__item--next">
        <h3 class="prev-next__heading">Next project<svg viewBox="0 0 10 14" width="10" height="14" aria-hidden="true" class="prev-next__arrow"><use xlink:href="/site/themes/roodesign/img/icons.svg#icon-next"/></svg></h3>
        <a href="{{ url }}" rel="prev" class="prev-next__link">{{ title }}</a>
      </li>
    {{ /items }}
    {{ /collection:next }}
  </ul>
</nav>
