{{ section:styles }}
:root {
  --c-primary: {{ key-color }};
  --c-primary-contrast: {{ second-color }};
}
{{ if third-color }}
  .site-header {
    background-image: linear-gradient({{ third-color }}, var(--c-primary));
  }
{{ /if }}
{{ /section:styles }}

{{ section:site_header }}
{{ if hero }}
<section class="article article--hero">
  <article class="article__content prose prose--hero">
      {{ hero | markdown | collapse_whitespace | no_paragraph_antlers | smartypants }}
  </article>
</section>
<svg viewBox="0 0 100 50" width="100%" aria-hidden="true" class="hero-background" preserveAspectRatio="none">
  <use xlink:href="#triangle-reverse" class="hero-background__triangle"></use>
</svg>
{{ /if }}
{{ /section:site_header }}

<section class="article article--main">
  <aside class="article__aside">
    {{ meta }}
    <dl class="meta-list">
      <dt class="meta-list__title">{{ title }}</dt>
      <dd class="meta-list__value">{{ value | markdown | smartypants }}</dd>
    </dl>
    {{ /meta }}
  </aside>
  <article class="article__content prose">
      {{ content | collapse_whitespace | no_paragraph_figure | smartypants }}
  </article>
</section>


<nav class="prev-next">

  <svg width="32" height="38" xmlns="http://www.w3.org/2000/svg" class="prev-next__badge">
    <g fill="none" fill-rule="evenodd">
      <path d="M15.735 8.851L27.993 21.2 15.735 33.549 3.477 21.2 15.735 8.851z" stroke="#FFF" stroke-width="5" fill="#FFF"/>
      <path d="M15.735 8.842l4.36-4.39 7.9 7.953-12.26 12.343L3.476 12.405l7.9-7.953 4.36 4.39z" stroke="#FFF" stroke-width="5" fill="#FFF"/>
      <path stroke="#3F3F3F" d="M15.735 12.4l8.736 8.8-8.736 8.8L7 21.2z"/>
      <path stroke="#3F3F3F" d="M20.095 8l4.376 4.405-8.736 8.795L7 12.405 11.375 8l4.36 4.39z"/>
    </g>
  </svg>

  <ul class="prev-next__items">

    {{ collection:previous in="work" as="items" limit="1" sort="date:asc" }}
      {{ items }}
        <li class="prev-next__item prev-next__item--prev">
          <h3 class="prev-next__heading"><svg viewBox="0 0 10 14" width="10" height="14" aria-hidden="true" class="prev-next__arrow"><use xlink:href="/site/themes/roodesign/img/icons.svg#icon-prev"/></svg>Previous project</h3>
          <a href="{{ url }}" rel="prev" class="prev-next__link">{{ title }}</a>
        </li>
      {{ /items }}
    {{ /collection:previous }}

    {{ collection:next in="work" as="items" limit="1" sort="date:asc" }}
    {{ items }}
      <li class="prev-next__item prev-next__item--next">
        <h3 class="prev-next__heading">Next project<svg viewBox="0 0 10 14" width="10" height="14" aria-hidden="true" class="prev-next__arrow"><use xlink:href="/site/themes/roodesign/img/icons.svg#icon-next"/></svg></h3>
        <a href="{{ url }}" rel="prev" class="prev-next__link">{{ title }}</a>
      </li>
    {{ /items }}
    {{ /collection:next }}
  </ul>
</nav>
