{{ section:css }}
{{ if width-individual }}
  .figure .figure__image { max-width: {{ width-individual }} }
{{ /if }}
{{ /section:css }}

{{ asset_sets }}
{{ if name == set }}
<figure class="figure figure--{{ width}}{{ style }} figure--{{ value }}{{ /style }}">

  {{ if assets | count == 1 }}
    {{ assets:assets }}
    {{ if stage }}<div class="figure__stage">{{ /if }}
      <img src="{{ if extension | contains:png  or extension | contains:jpeg }}{{ glide:url width="1200" }}{{ else }}{{ url }}{{ /if }}" class="figure__image" alt="{{ alt or caption }}"/>
      {{ if stage }}</div>{{ /if }}
      {{ /assets:assets }}
  {{ else }}
    <div class="figure__gallery {{ if stage }} figure__gallery--stage{{ /if }}"{{ if width_individual }} style="grid-template-columns: repeat(auto-fit, minmax({{ width_individual}}px, 1fr)); grid-gap: {{ gap }}px;"{{ /if }}>
    {{ assets:assets }}
      <img src="{{ if extension | contains:png or extension | contains:jpg or extension | contains:jpeg }}{{ if brickwall }}{{ glide:url width="800" height="600" fit="crop_focal"  }}{{ else }}{{ glide:url width="800"  }}{{ /if }}{{ else }}{{ url }}{{ /if }}" class="figure__image" alt="{{ alt or caption }}"/>
    {{ /assets:assets }}
    </div>
  {{ /if }}

  {{ if caption }}<figcaption class="figure__caption ">{{ caption | markdown | smartypants }}</figcaption>{{ /if }}
</figure>

  

{{ /if }}
{{ /asset_sets }}
