{{ asset_sets }}
{{ if name == set }}
<figure class="figure figure--{{ width}}{{ style }} figure--{{ value }}{{ /style }}">

  {{ if assets | count == 1 }}
    {{ assets:assets }}
      <img src="{{ if extension | contains:png or extension | contains:jpg }}{{ glide:url width="1200" }}{{ else }}{{ url }}{{ /if }}" class="figure__image" alt="{{ alt or caption }}"/>
    {{ /assets:assets }}
  {{ else }}
    <div class="figure__gallery {{ if stage }} figure__gallery--stage{{ /if }}">
    {{ assets:assets }}
      <img src="{{ if extension | contains:png or extension | contains:jpg }}{{ if brickwall }}{{ glide:url width="800" height="600" fit="crop_focal"  }}{{ else }}{{ glide:url width="800"  }}{{ /if }}{{ else }}{{ url }}{{ /if }}" class="figure__image" alt="{{ alt or caption }}"/>
    {{ /assets:assets }}
    </div>
  {{ /if }}

  {{ if caption }}<figcaption class="figure__caption">{{ caption | markdown | smartypants }}</figcaption>{{ /if }}
</figure>
{{ /if }}
{{ /asset_sets }}
