.article {
  .gutter();
  .v-space();
  .grid();

  &__content {
    grid-row: 2;
    grid-column: 1 / span 2;
    .break-min({
      grid-column: 2 / span 8;
      grid-row: 1;
    });
    .break-mid({
      display: grid;
      grid-template-columns:
      ~"[full-start] minmax(1em,1fr)
        [prose-start] minmax(0, 10fr)
        [prose-end] minmax(1em,1fr) [full-end]";

        > * {
          grid-column: prose;
        }
        .figure--w-wide {
          grid-column: full;
        }

    });
  }
  &__meta {
    grid-row: 1;
    .break-min({
      grid-column: 10 / span 2;
    });
  }

}
