.figure {

  @c_device: #EEF1F5;

  &__image {
    height: auto;
    display: block;
    width: 100%;
  }
  &__caption {
    margin-top: 1em;
    max-width: unit(@prose-width/@base,rem);
    &, p, a {
      #type > #size > .sm;
      color: @c_grey;
    } 
    li {
      margin-top: .5em;
    }
    ul li {
      list-style-image: url('../img/bullet-grey.svg');
    }
    ol li {
      list-style: upper-alpha;
    }
  }

  //widths {
  &--wide {
    max-width: 80%;
    clear: right;
  }


  &--x-wide {
    max-width: 100%;
    clear: right;
  }



  &--aside {

    .break-min({
      float: right;
      max-width: 50%;
      margin-left: unit(@h-space/@base,rem);
      margin-bottom: 1em;
      margin-top: 0;
    });
  }

  &--shadow img {
    box-shadow: 0 0 20px fade(black,30%);
  }

  &--overlay {
    mix-blend-mode: multiply;
  }

  &--frame-browser &__image {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid lighten(@c_grey,50%);
    padding: 3% 1px 1px 1px;
    background-color: @c_device;
  }

  &--frame-phone &__image {
    box-sizing: border-box;
    background-color: @c_device;
    padding: 27% 5%;
    overflow: hidden;
    border-radius: 56px;
    display: block;
  }




  &__gallery {
    display: grid;
    grid-gap: unit(@h-space/@base,rem);
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  }

  &__gallery--stage,
  &__stage {
    padding: unit(@v-space/@base,rem) unit(@h-space/@base,rem);
    .break-mid({
      padding: unit(@v-space*1.5/@base,rem) unit(@h-space*1.5/@base,rem);
    });
    background-color: darken(@c_device,80%);
  }



}
