.figure {

  &__image {
    height: auto;
    width: 100%;
  }
  &__caption {
    #type > #size > .sm;
    margin-top: 1em;
    color: @c_grey;
    font-style: italic;
  }

  //widths {
  &--wide {
    margin-left: unit(-1 * @h-space/@base,rem);
    margin-right: unit(-1 * @h-space/@base,rem);
    max-width: unit(( (@prose-width * 1.5) + ( 2 * @h-space))/@base, rem);
  }

  &--x-wide {
    margin-left: unit(-1 * @h-space/@base,rem);
    margin-right: unit(-1 * @h-space/@base,rem);
    max-width: 100%;
  }

  &--aside {
    .break-min({
      float: right;
      width: unit((@prose-width/2)/@base, rem);
      max-width: 50%;
      margin-left: unit(@h-space/@base,rem);
    });
  }

  &--wide,
  &--x-wide {
    .figure__caption {
      margin-left: unit(@h-space/@base,rem);
      margin-right: unit(@h-space/@base,rem);
      max-width: unit(@prose-width/@base,rem);
    }
  }


  &--gallery {

    .break-min({
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
      grid-column-gap: 20px;
    });

  }

  &--gallery &__image {
    .v-space(0,.5);
    &:last-of-type { .v-space(0,0); }
    .break-min({ .v-space(0,0); });
  }

  &--gallery &__caption {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
  &--gallery-2 &__caption {
    grid-column: 1 / span 2;
  }
  &--gallery-3 &__caption {
    grid-column: 1 / span 3;
  }
  &--gallery-4 &__caption {
    grid-column: 1 / span 4;
  }



}
