.figure {

  @c_device: #EEF1F5;

  &__image, svg {
    height: auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  &__caption {
    margin-top: 1em;
    max-width: unit(@prose-width/@base,rem);
    margin-left: auto;
    margin-right: auto;
    &, p, a {
      #type > #size > .x-sm;
      color: @c_grey;
    } 
    li {
      margin-top: .5em;
    }
    ul li {
      list-style-image: url('../img/bullet-grey.svg');
    }
    ol li {
      list-style: upper-alpha;
    }
  }

  &--default {
    @prose-width-rem: unit(@prose-width/@base,rem);
    max-width: ~"calc( var(--gutter) + @{prose-width-rem})"
  }

  //widths {
  &--wide {
    max-width: unit(@prose-width * 1.5 /@base,rem);
    clear: right;
  }


  &--x-wide {
    max-width: none;
    width: 100%;
    clear: right;
  }



  &--aside {

    .break-min({
      float: right;
      max-width: 50%;
      margin-left: unit(@h-space/@base,rem);
      margin-bottom: 1em;
      margin-top: 0;
    });
  }

  &--shadow img {
    box-shadow: 0 0 20px fade(black,20%);
  }

  &--overlay {
    mix-blend-mode: multiply;
  }

  &--frame-browser &__image {
    overflow: hidden;
    border: ~"calc( (var(--gutter) / 4)) solid white";
  }

  &--frame-phone &__image {
    box-sizing: border-box;
    background-color: @c_device;
    padding: 17% 5%;
    border: 1px solid darken(@c_device,10%);
    overflow: hidden;
    border-radius: 6px;
    display: block;
    .break-mid({ border-radius: 16px; });
    .break-max({ border-radius: 36px; });
  }


  &--on-stage {
    width: 100vw;
    margin-left: ~"calc(-1 * var(--gutter) - (var(--gutter) / 4))";
    .break-max({
      margin-left: ~"calc(-50vw + (var(--break) / 2) - var(--gutter) )";
    });
    box-sizing: border-box;
    background-color: var(--c-primary);
    //background-color: blue;
  }

  &__gallery {
    display: grid;
    grid-gap: unit(@h-space/@base,rem);
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  }

  &--frame-phone &__gallery {
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  }

  &__gallery--stage,
  &__stage {
    padding: var(--gutter);
    box-sizing: border-box;
    .break-max({
      max-width: var(--break);
      margin-left: auto;
      margin-right: auto;
    });

  }



}
