.navigation {

  li {list-style: none;}

  a {
    color: black;
    text-decoration: none;
  }

  &--white a { color: white; }


  .active {
    font-weight: 900;
  }

  &__logo {
    stroke: black;
  }

  &--white &__logo {
    stroke: white;
  }

  &__items {
    .break-min({
      display: flex;
      justify-content: space-between;
    });

  }



  //main navigation

  &--main {
    .gutter();
    .grid();
    margin-bottom: unit(@v-space/@base,rem);
    text-align: right;
    .break-min({
      text-align: left;
    });

  }

  &--main &__logo {
    .grid-column(1,2,1,2);
    justify-self: start;
  }

  &--main &__items {
    .grid-column(2,13,2,3);
    align-self: center;
  }

}
