.prev-next {
  border-top: 1px solid black;
  border-top: 1px solid var(--c-primary);
  position: relative;
  clear: right;

  li { list-style: none; }

  &__badge {
    position: absolute;
    left: 50%;
    top: -19px;
    margin-left: -18px;
  }

  &__items {
    .gutter();
    .v-space();
    display: grid;
    grid-template-columns: ~"[prev] 1fr [next] 1fr";
    grid-gap: unit(@h-space/@base,rem);
  }

  &__item--prev {
    grid-column: prev;
  }
  &__item--next {
    justify-self: end;
    text-align: right;
    grid-column: next;
  }

  &__link {
    #type > #size > .p;
    color: black;
  }

  &__item--prev &__arrow { margin-right: unit(8/@base,rem); }
  &__item--next &__arrow { margin-left: unit(8/@base,rem); }
}
