.side-by-side {
  .gutter();
  .v-space();

  &__content {
    .grid();
  }

  &__article {
    grid-column: 1 / span 2;
    .break-min({ grid-column: 1 / span 7;});
    .break-mid({ grid-column: 2 / span 6; });
  }

  &__aside {
    grid-column: 1 / span 2;
    .break-min({ grid-column: 8 / span 5;});
    //
  }

}
