.site-header {
  .v-space();
  .break-min({
    .v-space(@bottom:0);
  });


  &, >* {
    position: relative;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    path {
      fill: #F8DE6A;
    }
  }

  &__title {

    .grid();

    >h1 {
      .grid-column(2,12);
      font-size: 7vw;
      .break-min({ text-align: center; });
    }


  }


}
