<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio of hands-on design leader Jon Roobottom">
    <title>{{ title or site_title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,700,700i,900,900i|Fira+Mono|Fira+Sans+Extra+Condensed:900" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ theme:css }}">
    <style>{{ yield:styles }}</style>
    <link rel="shortcut icon" type="image/x-icon" href="/site/themes/roodesign/img/favicon.ico" />
</head>


<body class="page-{{ template }}">

  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" style="width:0;height:0;position:absolute;">
    <symbol id="triangle" viewBox="0 0 100 100">
      <path d="M0 0h100L0 100z" fill-rule="evenodd"/>
    </symbol>
    <symbol id="triangle-reverse">
      <path d="M0 50L100 50L100 0z" fill-rule="evenodd"/>
    </symbol>
    <linearGradient id="grad-A" x2="0" y2="1">
      <stop offset="0%" stop-color="aqua" />
      <stop offset="100%" stop-color="BlueViolet" />
    </linearGradient>
    <linearGradient id="grad-B" x2="0" y2="1">
      <stop offset="0%" stop-color="LawnGreen" />
      <stop offset="100%" stop-color="DarkCyan" />
    </linearGradient>
    <linearGradient id="grad-C" x2="0" y2="1">
      <stop offset="0%" stop-color="Magenta" />
      <stop offset="100%" stop-color="OrangeRed" />
    </linearGradient>
    <linearGradient id="grad-D" x2="0" y2="1">
      <stop offset="0%" stop-color="MediumSpringGreen" />
      <stop offset="100%" stop-color="Magenta" />
    </linearGradient>
    <linearGradient id="triangle-grad" x2="0" y2="1">
        <stop offset="0%" stop-color="var(--triangle-grad-top)" />
        <stop offset="100%" stop-color="var(--triangle-grad-bottom)" />
      </linearGradient>
  </svg>


    <header class="site-header">

      <nav class="navigation navigation--main">
        <a href="/" class="navigation__logo"><svg width="28" height="35" xmlns="http://www.w3.org/2000/svg"><g class="navigation__logo" fill="none" fill-rule="evenodd"><path d="M13.6 8.507L.707 21.4 13.6 34.293 26.493 21.4 13.6 8.507z"/><path d="M20.388 1L27.2 7.808 13.6 21.4 0 7.808 6.812 1 13.6 7.784z"/></g></svg></a>
        <ul class="navigation__items">
          <li><a href="/"{{ if current_uri == '/' }} class="active"{{ /if }}>Home</a></li>
          <li><a href="/work"{{ if segment_1 == 'work' }} class="active"{{ /if }}>My work</a></li>
          <li><a href="/articles"{{ if segment_1 == 'articles' }} class="active"{{ /if }}>Articles</a></li>
          <!--<li><a href="#">Services</a></li>
          <li><a href="#">About me</a></li> -->
          <li><a href="/contact"{{ if segment_1 == 'contact' }} class="active"{{ /if }}>Contact me</a></li>
        </ul>
      </nav>

      <div class="site-header__title">
        <h1 id="headline">{{ title | smartypants }}</h1>
      </div>

      {{ yield:site_header }}

  </header>

  <main class="site-main">
    {{ template_content }}
  </main>

  <footer class="site-footer">

      <p class="site-footer__copyright"><strong>&copy; 2001-{{ now format='Y' }} Jon Roobottom</strong></p>
      <p><a href="https://www.dropbox.com/s/mg3scgc291nhmk0/jon-roobottom-cv-2018.pdf?dl=0">Download my CV (resumé)</a></p>
      <ul class="site-footer__social">
        <li><a href="https://github.com/roobottom" title="Jon Roobottom's Github profile">{{ partial:icon name="github"}}</a></li>
        <li><a href="https://medium.com/@roobottom" title="Jon Roobottom's articles on Medium">{{ partial:icon name="medium"}}</a></li>
        <li><a href="https://www.linkedin.com/in/roobottom/" title="Jon Roobottom's LinkedIn profile">{{ partial:icon name="linkedin"}}</a></li>
        <li><a href="https://twitter.com/roobottom"  title="Jon Roobottom's Twitter profile">{{ partial:icon name="twitter"}}</a></li>
      </ul>

  </footer>

  {{ if current_uri == '/' }}
  <svg viewBox="0 0 100 100" width="100%" aria-hidden="true" class="site-background" preserveAspectRatio="none">
    <use xlink:href="#triangle" class="site-background__triangle"></use>
  </svg>
  {{ /if }}


  {{# {{ theme:js src="roodesign" tag="true" }} #}}
</body>

</html>
