div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
section,
summary,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  margin: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: underline;
}
del {
  text-decoration: line-through;
}
mark {
  background: none;
}
abbr[title],
dfn[title] {
  cursor: help;
  text-decoration: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
input[type="submit"],
input[type="button"],
button {
  padding: 0;
  margin: 0;
}
input,
select,
a img {
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
body,
input,
textarea,
button {
  font-family: 'Fira Sans', sans-serif;
  color: black;
  -webkit-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
  font-variant: normal;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-size: 1.0625rem;
  line-height: 1.41176471;
}
@media screen and (min-width: 63.75rem) {
  body,
  input,
  textarea,
  button {
    font-size: 1.1875rem;
    line-height: 1.47368421;
  }
}
@supports ((-webkit-font-variant-ligatures: common-ligatures) or (font-variant-ligatures: common-ligatures)) {
  body {
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
  }
}
h1 {
  font-weight: 900;
  font-size: 2.4375rem;
  line-height: 1;
  width: 100%;
  display: block;
}
@media screen and (min-width: 30rem) {
  h1 {
    font-size: 5.5vw;
  }
}
i,
em {
  font-style: italic;
}
b,
strong {
  font-weight: bold;
}
sup,
sub {
  position: relative;
}
sup {
  top: -0.3em;
}
sub {
  bottom: -0.3em;
}
@supports (font-variant-position: sub) {
  sub,
  sup {
    position: inherit;
    top: auto;
    bottom: auto;
  }
  sub {
    font-variant-position: sub;
  }
  sup {
    font-variant-position: super;
  }
}
.prose h2 {
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.11111111;
  clear: right;
}
@media screen and (min-width: 63.75rem) {
  .prose h2 {
    font-size: 2.75rem;
    line-height: 1.09090909;
  }
}
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  font-weight: 900;
  font-size: 1.3125rem;
  line-height: 1.14285714;
  margin-top: 1em;
}
@media screen and (min-width: 63.75rem) {
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    font-size: 1.8125rem;
    line-height: 1.10344828;
  }
}
.prose p,
.prose h2,
.prose pre {
  margin-top: 1em;
}
.prose > *:first-child {
  margin-top: 0;
}
.prose p:first-of-type {
  font-size: 1.1875rem;
  line-height: 1.26315789;
  font-weight: 700;
}
@media screen and (min-width: 63.75rem) {
  .prose p:first-of-type {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
.prose figure + p:first-of-type {
  margin-top: 2em;
}
.prose h3,
.prose figure {
  margin-top: 2em;
}
.prose figure.figure--aside {
  margin-top: 1em;
}
.prose > ul,
.prose > ol {
  margin-top: 1em;
}
.prose li {
  margin-left: 2em;
  padding-left: .2em;
}
.prose ol li {
  list-style-position: outside;
}
.prose ul li {
  list-style-position: outside;
  list-style-image: url('/site/themes/roodesign/img/bullet.svg');
}
.prose li {
  margin-top: 0.2em;
}
.prose > ul > li:first-child,
.prose > ol > li:first-child {
  margin-top: 0;
}
.prose ul li li {
  list-style-type: circle;
}
.prose ul li li li {
  list-style: square;
}
.prose ol li li {
  list-style-type: lower-alpha;
}
.prose ol li li li {
  list-style-type: lower-roman;
}
.prose table {
  border-collapse: collapse;
  font-size: 1.0625rem;
  line-height: 1.41176471;
  font-variant-numeric: lining-nums tabular-nums;
}
@media screen and (min-width: 63.75rem) {
  .prose table {
    font-size: 1.1875rem;
    line-height: 1.47368421;
  }
}
.prose thead tr {
  border-bottom: 1px solid;
}
.prose td,
.prose th {
  padding: 0.5em;
  line-height: 1;
  vertical-align: top;
}
.prose th {
  font-weight: bold;
}
.prose td {
  text-align: "." center;
}
.prose a {
  color: inherit;
}
.prose abbr {
  font-variant: small-caps;
  text-transform: uppercase;
}
.prose code {
  font-family: 'Fira Mono', monospace;
  font-size: 87%;
}
.prose p > code,
.prose li > code {
  padding: 0 0.1875rem;
  margin: 0 -0.1875rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.07);
}
.prose blockquote {
  font-size: 1.3125rem;
  line-height: 1.14285714;
  max-width: 100%;
  margin-top: 2em;
  font-weight: 700;
}
@media screen and (min-width: 63.75rem) {
  .prose blockquote {
    font-size: 1.8125rem;
    line-height: 1.10344828;
  }
}
.prose blockquote + p {
  font-size: 1rem;
  line-height: 1.25;
  color: #555555;
  margin-bottom: 1em;
}
.prose pre {
  background-color: rgba(0, 0, 0, 0.05);
  overflow: auto;
}
.prose pre > code {
  margin: 1rem;
  display: block;
}
.prose mark,
.prose h2:target,
.prose h3:target,
.prose h4:target,
.prose h5:target,
.prose h6:target {
  background-image: linear-gradient(-100deg, rgba(250, 246, 133, 0.3), rgba(250, 246, 133, 0.7) 95%, rgba(250, 246, 133, 0.1));
}
.prose mark {
  padding: 0 .35em;
  margin: 0 -0.35em;
  border-radius: 1em 0;
}
.site-header {
  padding-top: 2rem;
  padding-bottom: 0rem;
}
.site-header,
.site-header > * {
  position: relative;
}
.site-header svg path {
  fill: inherit;
}
.site-header__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.site-header__background-triangle {
  fill: white;
}
.site-header__title {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 30rem) {
  .site-header__title {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 0 auto;
    max-width: 68.75rem;
  }
}
@media screen and (min-width: 63.75rem) {
  .site-header__title {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 76.25rem) {
  .site-header__title {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
.page-home .site-header__background-triangle {
  fill: #F5DD7C;
}
.site-footer {
  clear: right;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  font-size: 1rem;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 30rem) {
  .site-footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 0 auto;
    max-width: 68.75rem;
  }
}
@media screen and (min-width: 63.75rem) {
  .site-footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 76.25rem) {
  .site-footer {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
.site-footer,
.site-footer a {
  color: black;
}
.site-footer p,
.site-footer__social {
  margin: 0 0.9375rem;
  line-height: 1.8;
}
.site-footer li {
  list-style: none;
}
.site-footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-footer__social li {
  margin-right: 1.875rem;
}
.site-footer__social li:last-child {
  margin: 0;
}
.navigation li {
  list-style: none;
}
.navigation a {
  color: black;
  text-decoration: none;
}
.navigation--white a {
  color: white;
}
.navigation .active {
  font-weight: 900;
}
.navigation__logo {
  stroke: black;
}
.navigation--white .navigation__logo {
  stroke: white;
}
@media screen and (min-width: 30rem) {
  .navigation__items {
    display: flex;
    justify-content: space-between;
  }
}
.navigation--main {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 30rem) {
  .navigation--main {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 0 auto;
    max-width: 68.75rem;
  }
}
@media screen and (min-width: 63.75rem) {
  .navigation--main {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 76.25rem) {
  .navigation--main {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
.navigation--main .navigation__items {
  text-align: right;
}
@media screen and (min-width: 30rem) {
  .navigation {
    align-items: center;
  }
  .navigation--main .navigation__items li {
    margin-left: 1.875rem;
  }
}
.meta-list {
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: .5em;
}
.meta-list,
.meta-list a {
  color: #555555;
}
.meta-list--reverse,
.meta-list--reverse a {
  color: white;
}
.meta-list__title {
  font-weight: bold;
}
.prev-next {
  border-top: 1px solid black;
  position: relative;
  clear: right;
}
.prev-next li {
  list-style: none;
}
.prev-next__badge {
  position: absolute;
  left: 50%;
  top: -19px;
  margin-left: -18px;
}
.prev-next__items {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [prev] 1fr [next] 1fr;
  grid-template-columns: [prev] 1fr [next] 1fr;
  grid-gap: 1.875rem;
}
@media screen and (min-width: 30rem) {
  .prev-next__items {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 0 auto;
    max-width: 68.75rem;
  }
}
@media screen and (min-width: 63.75rem) {
  .prev-next__items {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 76.25rem) {
  .prev-next__items {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
.prev-next__item--prev {
  -ms-grid-column: prev;
  grid-column: prev;
}
.prev-next__item--next {
  justify-self: end;
  text-align: right;
  -ms-grid-column: next;
  grid-column: next;
}
.prev-next__link {
  font-size: 1.0625rem;
  line-height: 1.41176471;
  color: black;
}
@media screen and (min-width: 63.75rem) {
  .prev-next__link {
    font-size: 1.1875rem;
    line-height: 1.47368421;
  }
}
.prev-next__item--prev .prev-next__arrow {
  margin-right: 0.5rem;
}
.prev-next__item--next .prev-next__arrow {
  margin-left: 0.5rem;
}
.form {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 30rem) {
  .form {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 0 auto;
    max-width: 68.75rem;
  }
}
@media screen and (min-width: 63.75rem) {
  .form {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 76.25rem) {
  .form {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
.form--contact {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem 1.875rem;
}
.form--contact .form__group,
.form--contact .alert {
  -ms-grid-column-span: 2;
  -ms-grid-column: 1;
  grid-column: 1 / span 2;
}
@media screen and (min-width: 30rem) {
  .form--contact .form__group,
  .form--contact .alert {
    -ms-grid-column-span: 8;
    -ms-grid-column: 3;
    grid-column: 3 / span 8;
  }
}
@media screen and (min-width: 63.75rem) {
  .form--contact .form__group,
  .form--contact .alert {
    -ms-grid-column-span: 6;
    -ms-grid-column: 4;
    grid-column: 4 / span 6;
  }
}
.form__group {
  margin-bottom: 2rem;
}
.form__label {
  display: block;
  font-size: 1.0625rem;
  line-height: 1.41176471;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 63.75rem) {
  .form__label {
    font-size: 1.1875rem;
    line-height: 1.47368421;
  }
}
.form__label--danger {
  color: #CC444A;
}
.form__input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  padding: 1rem;
}
.form__input--trap {
  display: none;
}
.button {
  display: inline-block;
  font-size: 1.0625rem;
  line-height: 1.41176471;
  border: none;
  padding: 0.66666667rem 1rem;
}
@media screen and (min-width: 63.75rem) {
  .button {
    font-size: 1.1875rem;
    line-height: 1.47368421;
  }
}
.button--primary {
  background-color: black;
  color: white;
}
.button--secondary {
  background-color: white;
  border: 1px solid black;
  color: black;
  text-decoration: none;
}
.button:hover {
  background-color: #F5DD7C;
  color: black;
}
.article {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
@media screen and (min-width: 30rem) {
  .article {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 0 auto;
    max-width: 68.75rem;
  }
}
@media screen and (min-width: 63.75rem) {
  .article {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 76.25rem) {
  .article {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
.article--main {
  padding-top: 2rem;
  padding-bottom: 6rem;
}
@media screen and (min-width: 30rem) {
  .article__aside {
    float: right;
    width: 20%;
  }
  .article__content > * {
    max-width: 43.125rem;
  }
}
.figure__image {
  height: auto;
  display: block;
  width: 100%;
}
.figure__caption {
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 1em;
  color: #555555;
  max-width: 43.125rem;
}
.figure--wide {
  max-width: 80%;
}
.figure--x-wide {
  max-width: 100%;
}
@media screen and (min-width: 30rem) {
  .figure--aside {
    float: right;
    max-width: 50%;
    margin-left: 1.875rem;
    margin-bottom: 1em;
  }
}
.figure--shadow img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.figure--frame-browser .figure__image {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  padding: 3% 1px 1px 1px;
  background-color: #EEF1F5;
}
.figure--frame-phone .figure__image {
  box-sizing: border-box;
  background-color: #EEF1F5;
  padding: 27% 5%;
  overflow: hidden;
  border-radius: 56px;
  display: block;
}
.figure__gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.875rem;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.figure__gallery--stage {
  padding: 2rem 1.875rem;
  background-color: #1c242f;
}
@media screen and (min-width: 63.75rem) {
  .figure__gallery--stage {
    padding: 4rem 3.75rem;
  }
}
.listing {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem 1.875rem;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}
@media screen and (min-width: 30rem) {
  .listing {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 0 auto;
    max-width: 68.75rem;
  }
}
@media screen and (min-width: 63.75rem) {
  .listing {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 76.25rem) {
  .listing {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
.card {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [cover] auto [title] auto [content] 1fr [meta] auto;
  grid-template-rows: [cover] auto [title] auto [content] 1fr [meta] auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
}
.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.card__cover {
  position: relative;
}
.card__cover-image {
  height: auto;
  max-width: 100%;
  display: block;
}
.card__background {
  position: absolute;
  top: 0;
  left: 0;
}
.card__triangle {
  fill: url(#grad-A) aqua;
  mix-blend-mode: multiply;
}
.card:nth-of-type(4n-3) .card__triangle {
  fill: url(#grad-A) aqua;
}
.card:nth-of-type(4n-2) .card__triangle {
  fill: url(#grad-B) LawnGreen;
}
.card:nth-of-type(4n-1) .card__triangle {
  fill: url(#grad-C) Magenta;
}
.card:nth-of-type(4n) .card__triangle {
  fill: url(#grad-D) MediumSpringGreen;
}
.card__title {
  grid-template: title;
  margin: 2rem 1.875rem;
  margin-bottom: 0;
  font-size: 1.3125rem;
  line-height: 1.14285714;
}
@media screen and (min-width: 63.75rem) {
  .card__title {
    font-size: 1.8125rem;
    line-height: 1.10344828;
  }
}
.card__content {
  margin: 2rem 1.875rem;
  margin-bottom: 0;
}
.card__meta {
  margin: 2rem 1.875rem;
  display: block;
  font-size: 1rem;
  line-height: 1.25;
  color: #555555;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.card__link {
  color: black;
  text-decoration: none;
}
.card__link:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.template-home .intro {
  padding-top: 0;
}
@media screen and (min-width: 30rem) {
  .template-home .intro {
    padding-top: 2rem;
  }
}
body {
  background-color: white;
}

/*# sourceMappingURL=roodesign.css.map */
