div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
section,
summary,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  margin: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: underline;
}
del {
  text-decoration: line-through;
}
mark {
  background: none;
}
abbr[title],
dfn[title] {
  text-decoration: none;
  cursor: help;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
input[type="submit"],
input[type="button"],
button {
  padding: 0;
  margin: 0;
}
input,
select,
a img {
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.site-header {
  grid-area: header;
  -ms-grid-row-align: start;
  align-self: start;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
@media screen and (min-width: 42.5rem) {
  .site-header {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 63.75rem) {
  .site-header {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 90rem) {
  .site-header {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
.site-main {
  grid-area: main;
  -ms-grid-row-align: start;
  align-self: start;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
@media screen and (min-width: 42.5rem) {
  .site-main {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 63.75rem) {
  .site-main {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 90rem) {
  .site-main {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
.site-footer {
  grid-area: footer;
  -ms-grid-row-align: end;
  align-self: end;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
@media screen and (min-width: 42.5rem) {
  .site-footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 63.75rem) {
  .site-footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 90rem) {
  .site-footer {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer";
}
.wrapper {
  margin: 0 auto;
  max-width: 97.5rem;
}
@font-face {
  font-family: 'carlson';
  src: url('/site/themes/roodesign/fonts/carlson.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Fira Sans', sans-serif;
  color: black;
  -webkit-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
  font-variant: normal;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-size: 1.0625rem;
  line-height: 1.41176471;
}
@media screen and (min-width: 63.75rem) {
  body {
    font-size: 1.1875rem;
    line-height: 1.47368421;
  }
}
@supports ((-webkit-font-variant-ligatures: common-ligatures) or (font-variant-ligatures: common-ligatures)) {
  body {
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
  }
}
p {
  margin-top: 1em;
}
p:first-of-type {
  margin-top: auto;
}
h1 {
  font-family: 'carlson', serif;
  font-weight: normal;
  font-size: 2.4375rem;
  line-height: 1;
}
@media screen and (min-width: 42.5rem) {
  h1 {
    font-size: 5.5vw;
  }
}
h2 {
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 1.11111111;
  margin-bottom: 1.0625rem;
}
@media screen and (min-width: 90rem) {
  h2 {
    font-size: 3.1875rem;
    line-height: 1.09803922;
  }
}
@media screen and (min-width: 90rem) {
  h2 {
    margin-bottom: 1.1875rem;
  }
}
figcaption {
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #555555;
}
i,
em {
  font-style: italic;
}
b,
strong {
  font-weight: bold;
}
sup,
sub {
  position: relative;
}
sup {
  top: -0.3em;
}
sub {
  bottom: -0.3em;
}
@supports (font-variant-position: sub) {
  sub,
  sup {
    position: inherit;
    top: auto;
    bottom: auto;
  }
  sub {
    font-variant-position: sub;
  }
  sup {
    font-variant-position: super;
  }
}
.prose li ul,
.prose li ol {
  margin-left: 2em;
}
.prose ol li {
  list-style-position: outside;
}
.prose ul li {
  list-style-position: inside;
}
@media screen and (min-width: 42.5rem) {
  .prose ul li {
    list-style-position: outside;
  }
}
.prose li {
  margin-top: 0.2em;
}
.prose > ul > li:first-child,
.prose > ol > li:first-child {
  margin-top: 0;
}
.prose ul li li {
  list-style-type: circle;
}
.prose ul li li li {
  list-style: square;
}
.prose ol li li {
  list-style-type: lower-alpha;
}
.prose ol li li li {
  list-style-type: lower-roman;
}
.prose table {
  border-collapse: collapse;
  font-size: 1.0625rem;
  line-height: 1.41176471;
  font-variant-numeric: lining-nums tabular-nums;
}
@media screen and (min-width: 63.75rem) {
  .prose table {
    font-size: 1.1875rem;
    line-height: 1.47368421;
  }
}
.prose thead tr {
  border-bottom: 1px solid;
}
.prose td,
.prose th {
  padding: 0.5em;
  line-height: 1;
  vertical-align: top;
}
.prose th {
  font-weight: bold;
}
.prose td {
  text-align: "." center;
}
.prose a {
  color: inherit;
}
.prose code {
  font-family: 'Fira Mono', monospace;
  font-size: 81%;
}
.prose p > code,
.prose li > code {
  padding: 0.1875rem;
  margin: 0 -0.1875rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
}
.prose pre {
  background-color: rgba(0, 0, 0, 0.05);
  overflow: auto;
}
.prose pre > code {
  margin: 1rem;
  display: block;
}
.prose mark,
.prose h2:target,
.prose h3:target,
.prose h4:target,
.prose h5:target,
.prose h6:target {
  background-image: linear-gradient(-100deg, rgba(250, 246, 133, 0.3), rgba(250, 246, 133, 0.7) 95%, rgba(250, 246, 133, 0.1));
}
.prose mark {
  padding: 0 .35em;
  margin: 0 -0.35em;
  border-radius: 1em 0;
}
.site-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 42.5rem) {
  .site-header {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }
}
.site-header,
.site-header > * {
  position: relative;
}
.site-header__background {
  position: absolute;
  top: 0;
  left: 0;
}
.site-header__background path {
  fill: #F8DE6A;
}
.site-header__title {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 42.5rem) {
  .site-header__title {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
  }
}
.site-header__title > h1 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 7vw;
}
@media screen and (min-width: 42.5rem) {
  .site-header__title > h1 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    grid-column-end: 12;
  }
}
@media screen and (min-width: 42.5rem) {
  .site-header__title > h1 {
    text-align: center;
  }
}
.site-footer {
  padding-top: 4rem;
  padding-bottom: 0rem;
  font-size: 0.875rem;
  line-height: 1.42857143;
}
.site-footer__content {
  background-color: #353B46;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer,
.site-footer a {
  color: white;
}
.site-footer li {
  list-style: none;
}
.site-footer__social {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
}
.site-footer__social li {
  margin-right: 1.25rem;
}
.site-footer__social li:last-child {
  margin: 0;
}
.navigation li {
  list-style: none;
}
.navigation a {
  color: black;
  text-decoration: none;
}
.navigation .active {
  font-weight: 900;
}
.navigation__logo {
  stroke: black;
}
@media screen and (min-width: 42.5rem) {
  .navigation__items {
    display: flex;
    justify-content: space-between;
  }
}
.navigation--main {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
  text-align: right;
}
@media screen and (min-width: 42.5rem) {
  .navigation--main {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
  }
}
@media screen and (min-width: 42.5rem) {
  .navigation--main {
    text-align: left;
  }
}
.navigation--main .navigation__logo {
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: start;
}
@media screen and (min-width: 42.5rem) {
  .navigation--main .navigation__logo {
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.navigation--main .navigation__items {
  -ms-grid-column: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row-align: center;
  align-self: center;
}
@media screen and (min-width: 42.5rem) {
  .navigation--main .navigation__items {
    -ms-grid-column: 2;
    grid-column-start: 2;
    grid-column-end: 13;
  }
}
.intro {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 42.5rem) {
  .intro {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
  }
}
.intro__welcome {
  -ms-grid-column-span: 2;
  -ms-grid-column: 1;
  grid-column: 1 / span 2;
  position: relative;
}
.intro__welcome > p {
  font-size: 1.1875rem;
  line-height: 1.26315789;
}
@media screen and (min-width: 42.5rem) {
  .intro__welcome > p {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 42.5rem) {
  .intro__welcome {
    -ms-grid-column-span: 8;
    -ms-grid-column: 3;
    grid-column: 3 / span 8;
  }
}
@media screen and (min-width: 63.75rem) {
  .intro__welcome {
    -ms-grid-column-span: 6;
    -ms-grid-column: 4;
    grid-column: 4 / span 6;
  }
}
@media screen and (min-width: 90rem) {
  .intro__welcome {
    -ms-grid-column-span: 4;
    -ms-grid-column: 5;
    grid-column: 5 / span 4;
  }
}
.intro .icon--blip {
  position: absolute;
  left: -1.25rem;
  top: 0.25rem;
}
@media screen and (min-width: 42.5rem) {
  .intro .icon--blip {
    left: -2.25rem;
  }
}
.template-home .intro {
  padding-top: 0;
}
@media screen and (min-width: 42.5rem) {
  .template-home .intro {
    padding-top: 2rem;
  }
}

/*# sourceMappingURL=roodesign.css.map */
